
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
          <div class="dash-widget-info text-right">
            <h3>{{tests.length}}</h3>
            <span class="widget-title1">Tests <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
          <div class="dash-widget-info text-right">
            <h3>72</h3>
            <span class="widget-title3">Tâches <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
          <div class="dash-widget-info text-right">
            <h3>618</h3>
            <span class="widget-title4">Notification <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="search-box">
        <div class="input-group input-group-md" style="margin-left: 15px; background-color: #fafafa;">
          <input type="text" class="form-control" placeholder="identifiant du patient" name="search">
          <span class="input-group-append">
            <button class="btn" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box shadow-sm p-3 mb-5 bg-white rounded">
          <h4 class="card-title">Informations du test</h4>
          <div class="row">
            <div class="col-md-9">
              <form action="#" >
                <div class="form-group row">
                  <div class="col-md-11">
                    <input type="text" class="form-control rounded" placeholder="Matricule">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="nom" class="col-md-2 col-form-label">Nom complet</label>
                  <div class="col-md-9">
                    <input type="text" id="nom" class="form-control rounded">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-md-2 col-form-label">Email</label>
                  <div class="col-md-9">
                    <input type="email" id="email" class="form-control rounded">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="telephone1" class="col-md-2 col-form-label">Telephone1</label>
                  <div class="col-md-9">
                    <input type="text" id="telephone1" class="form-control rounded">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="telephone2" class="col-md-2 col-form-label">Telephone2</label>
                  <div class="col-md-9">
                    <input type="text" id="telephone2" class="form-control rounded">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Adresse" class="col-md-2 col-form-label">Adresse</label>
                  <div class="col-md-9">
                    <input type="text" id="Adresse" class="form-control rounded">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">IGM</label>
                  <div class="col-md-9">
                    <select class="select">
                      <option>Select</option>
                      <option value="1">A+</option>
                      <option value="2">O+</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">IGC</label>
                  <div class="col-md-9">
                    <select class="select">
                      <option>Select</option>
                      <option value="1">A+</option>
                      <option value="2">O+</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-3" style="margin-top: 350px;">
              <div class="text-right">
                <div class="checkbox" style="margin-right: 110px;">
                  <label>
                    <input type="checkbox" name="checkbox" class="rounded"> Check me out
                  </label>
                </div>
              </div><br/>
              <div class="text-right col-md-12 row">
                <div class="col-md-5">
                  <button type="submit" class="btn btn-secondary-one" (click)="resetForm()">Annuler</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <button type="submit" class="btn btn-primary-one">Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
