<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title">Laboratoires</h4>
        <!--<ul class="breadcrumb">
          <li><a routerLink="/dashboard">Tableau de bord</a></li>
          <li>Laboratoire</li>
        </ul>-->
      </div>
      <!--<div class="col-sm-8 col-9 text-right m-b-20">
        <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="card-title" style="margin-left:25%;margin-right: 25%;">Enregistrer un Laboratoire</h4><br>
          <div class="form">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-img-wrap">
                    <img class="inline-block" src="assets/img/user.jpg" alt="logo laboratoire" *ngIf="urlFile == null">
                    <img class="inline-block" src={{urlFile}} alt="logo laboratoire" *ngIf="urlFile != null">
                    <div class="fileupload btn">
                      <span class="btn-text" *ngIf="urlFile == null">logo</span>
                      <input class="upload inline-block" type="file" (change)="onFileChanged($event)">
                    </div>
                  </div>
                  <div class="profile-basic">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-focus">
                          <label class="focus-label">Nom Laboratoire</label>
                          <input type="text" class="form-control floating" value="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-focus select-focus">
                          <label class="focus-label">Pays</label>
                          <select class="select form-control floating">
                            <option value="male selected">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-focus select-focus">
                          <label class="focus-label">Ville</label>
                          <select class="select form-control floating">
                            <option value="male selected">Male</option>
                            <option value="female1">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-focus">
                          <label class="focus-label">Longitude</label>
                          <input class="form-control floating" type="text" value="">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-focus select-focus">
                          <label class="focus-label">Latitude</label>
                          <input type="text" class="form-control floating" value="">
                        </div>
                      </div>
                    </div>
                    <br/><h5 style="color: grey; margin-left: 250px;margin-right: 250px;">Services</h5>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="test" name="test" class="rounded" style="width: 15px;height: 15px;margin-top: 10px;">
                            Test covid19
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="vaccin" name="vaccin" class="rounded" [(ngModel)]="vaccinChecked" style="width: 15px;height: 15px;margin-top: 10px;">
                            Vaccins
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="autre" name="autre" class="rounded" style="width: 15px;height: 15px;margin-top: 10px;">
                            Autres
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="vaccinChecked">
                      <div class="col-md-10" style="margin-top: 15px;">
                        <ng-multiselect-dropdown
                          [placeholder]="'selectionner les vaccins effectués'"
                          [data]="vaccins"
                          [(ngModel)]="vaccinEffectuer"
                          [settings]="dropdownSettings"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <br/><h5 style="color: grey; margin-left: 250px;margin-right: 250px;">Administrateur du compte</h5>
                    <div class="row" >
                      <div class="col-md-6">
                        <div class="form-group form-focus">
                          <label class="focus-label">Nom d'utilisateur</label>
                          <input type="text" class="form-control floating" value="" style="margin-top: 10px;">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-focus">
                          <label class="focus-label">Mot de passe</label>
                          <input type="text" class="form-control floating" value="" style="margin-top: 10px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right" style="margin-top: 25px;">
              <button type="submit" class="btn btn-secondary-one" (click)="resetForm()">Annuler</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary-one" (click)="saveLabo()">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="card-block">
            <h4 class="card-title">Liste des laboratoires</h4>
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead class="bg-thead">
                  <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let labo of laboratoires">
                    <td>{{labo.nom}}</td>
                    <td>{{labo.ville}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
