<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title" translate>Results</h4>
        <!--<ul class="breadcrumb">
          <li><a routerLink="/dashboard">Tableau de bord</a></li>
          <li>Laboratoire</li>
        </ul>-->
      </div>
      <!--<div class="col-sm-8 col-9 text-right m-b-20">
        <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
      </div>-->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="card-block">
            <h4 class="card-title" translate>Results of my tests</h4>
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead class="bg-thead">
                <tr>
                  <th translate>Laboratory</th>
                  <th translate>Date</th>
                  <th translate>Comment</th>
                  <th translate>IGG test</th>
                  <th translate>IGM test</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let test of appointments | paginate: { itemsPerPage: items, currentPage: p}; let i=index">
                  <td *ngIf="test.objetAppointment.label == 'TEST COVID'">{{test.laboratoire.name}}</td>
                  <td *ngIf="test.objetAppointment.label == 'TEST COVID'">{{millisToDate(test.jour)}}</td>
                  <td *ngIf="test.objetAppointment.label == 'TEST COVID'">{{test.commentaire}}</td>
                  <td *ngIf="test.objetAppointment.label == 'TEST COVID'">
                    <span *ngIf="test.testIGG == true" translate>Positive</span>
                    <span *ngIf="test.testIGG == false" translate>Negative</span>
                  </td>
                  <td *ngIf="test.objetAppointment.label == 'TEST COVID'">
                    <span *ngIf="test.testIGM == true" translate>Positive</span>
                    <span *ngIf="test.testIGM == false" translate>Negative</span>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul class="pagination" style="margin-top: 20px;">
                <pagination-controls (pageChange)="p = $event"
                                     responsive="true"
                                     previousLabel="{{prevoius | translate}}"
                                     nextLabel="{{next | translate}}"
                >

                </pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="card-block">
            <h4 class="card-title" translate>Results of my vaccines</h4>
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead class="bg-thead">
                <tr>
                  <th translate>Laboratory</th>
                  <th translate>Date</th>
                 <!-- <th>Vaccin</th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let vaccin of appointments | paginate: { itemsPerPage: items, currentPage: pV}; let i=index">
                  <td *ngIf="vaccin.objetAppointment.label == 'VACCIN'">{{vaccin.laboratoire.name}}</td>
                  <td *ngIf="vaccin.objetAppointment.label == 'VACCIN'">{{millisToDate(vaccin.jour)}}</td>
                 <!-- <td>
                    <div *ngFor="let vac of vaccin.vaccins">{{vac.nomVaccin}}</div>
                  </td>-->
                </tr>
                </tbody>
              </table>
              <ul class="pagination" style="margin-top: 20px;">
                <pagination-controls (pageChange)="pV = $event"
                                     responsive="true"
                                     previousLabel="{{prevoius | translate}}"
                                     nextLabel="{{next | translate}}"
                >

                </pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
