<!--<div class="main-wrapper account-wrapper">
  <div class="account-page">
    <div class="account-center">
      <div class="account-box">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" color="white" size="medium">
          <p class="loading" style="font-size: 20px; color: white">Veuillez patienter</p>
        </ngx-spinner>
        <form [formGroup]="loginForm" #formLogin="ngForm" (ngSubmit)="onLogin()" class="form-signin">
          <div class="account-logo">
            <a href="#"><img src="assets/img/logo-dark.png" alt=""></a>
          </div>
          <span *ngIf="message != ''" style="color: red; font-weight: bold">{{message}}</span>&nbsp;
          <div class="form-group">
            <label>Nom d'utilisateur</label>
            <input type="text" autofocus="" class="form-control" formControlName="username">
            <div *ngIf="f.username.invalid && f.username.touched" class="text-danger">
              &nbsp;<small *ngIf="f.username.errors.required">Le nom d'utilisateur est requis.</small>
            </div>
          </div>
          <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" formControlName='password'>
            <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
              &nbsp;<small *ngIf="f.password.errors.required">Le mot de passe est requis.</small>
            </div>
          </div>
          <div class="form-group text-right">
            <a href="forgot-password.html">Forgot your password?</a>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary account-btn" [disabled]="loginForm.invalid">Login</button>
          </div>
          <div class="text-center register-link">
            Don’t have an account? <a href="register.html">Register Now</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="forms-container">
    <span *ngIf="messageSessionExpire != ''" style="color: red; font-weight: bold">{{messageSessionExpire}}</span>
    <div class="signin-signup">
      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" color="white" size="medium">
        <p class="loading" style="font-size: 20px; color: white">Veuillez patienter</p>
      </ngx-spinner>
      <form [formGroup]="loginForm" #formLogin="ngForm" (ngSubmit)="onLogin()" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <span *ngIf="message != ''" style="color: red; font-weight: bold">{{message}}</span>&nbsp;
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" formControlName="username" autocomplete="off"/>
        </div>
        <div *ngIf="f.username.invalid && f.username.touched" class="text-danger">
          &nbsp;<small *ngIf="f.username.errors.required">Le nom d'utilisateur est requis.</small>
        </div>
        <div class="input-field">
          <i class="fas fa-eye" (click)="passwordVisibility(pwd)" *ngIf="pwd.type == 'password'"></i>
          <i class="fas fa-eye-slash" (click)="passwordVisibility(pwd)" *ngIf="pwd.type == 'text'"></i>
          <input type="password" placeholder="Password" #pwd formControlName='password' autocomplete="off"/>
        </div>
        <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
          &nbsp;<small *ngIf="f.password.errors.required">Le mot de passe est requis.</small>
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Nom et prénom" formControlName="name"/>
        </div>
        <div class="input-field">
          <i class="fas fa-calendar"></i>
          <input type="text" class="date" placeholder="Date de naissance" formControlName="birthday" onfocus="(this.type='date')"/>
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Nom d'utilisateur" formControlName="username"/>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" formControlName="email"/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" formControlName="password"/>
        </div>
        <div class="input-field">
          <i class="fas fa-phone"></i>
          <input type="text" placeholder="Téléphone" formControlName="phone"/>
        </div>
        <div class="input-field">
          <i class="fas fa-location-arrow"></i>
          <input type="text" placeholder="Sexe" formControlName="sexe"/>
        </div>
        <!--<div class="input-field col-md-12">
          &lt;!&ndash;<i class="fas fa-map-marker"></i>&ndash;&gt;
          <select name="" formControlName="pays">
            <option disabled>Pays</option>
            <option value="">option 1</option>
            <option value="">option 2</option>
          </select>
        </div>-->
        <div class="input-field">
          <i class="fas fa-map-marker"></i>
          <input type="text" placeholder="Ville" formControlName="ville"/>
        </div>
        <div class="input-field">
          <i class="fas fa-credit-card"></i>
          <input type="text" placeholder="Numéro de passport" formControlName="numeroPassport"/>
        </div>
        <div class="input-field">
          <i class="fas fa-calendar"></i>
          <input type="text" placeholder="Date expiration" formControlName="dateExpiration" onfocus="(this.type='date')"/>
        </div>
        <div class="col-md-12">
          <!--<i class="fas fa-map-marker"></i>-->
          <select name="" id="" formControlName="typePassport">
            <option value="" selected="selected" disabled>Type de passport</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
          </select>
        </div>
        <div class="">
         <!-- <i class="fas fa-camera"></i>-->
          <input type="file" placeholder="Photo du passport" (change)="onFileChanged($event)" formControlName="imagePassport"/>
        </div>
        <a class="chat-img-attach" >
         <!-- <img width="182" height="137" alt="image du passport" src="assets/img/doctor-03.jpg" *ngIf="urlPassportImage == null">-->
          <img width="182" height="137" alt="image du passport" [src]="urlPassportImage"  *ngIf="urlPassportImage != null">
          <!--<div class="chat-placeholder">
            <div class="chat-img-name">image du passeport</div>
            &lt;!&ndash;<div class="chat-file-desc">842 KB</div>&ndash;&gt;
          </div>-->
        </a>
        <div class="">
          <!--<i class="fas fa-camera"></i>-->
          <input type="file" placeholder="Photo de profil"  formControlName="imageSelfie" (change)="uploadImageProfil($event)"/>
        </div>
        <div class="account-logo">
          <a href="#">
           <!-- <img alt="Photo de profil" src="assets/img/user.jpg" class="img-fluid rounded-circle" *ngIf="urlProfilImage == null">-->
            <img alt="Photo de profil" [src]="urlProfilImage" class="img-fluid rounded-circle" *ngIf="urlProfilImage != null">
          </a>
        </div>
        <input type="submit" class="btn" value="Sign up" />
        <!--<p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>-->
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex ratione. Aliquid!
        </p>
        <button class="btn transparent" id="sign-up-btn">
          Sign up
        </button>
      </div>
      <img src="../../assets/img/sign.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laboriosam ad deleniti.
        </p>
        <button class="btn transparent" id="sign-in-btn">
          Sign in
        </button>
      </div>
      <img src="../../assets/img/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
