
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
          <div class="dash-widget-info text-right">
            <h3>{{patients.length}}</h3>
            <span class="widget-title2">Patients <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
          <div class="dash-widget-info text-right">
            <h3>50</h3>
            <span class="widget-title1">Tests <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
        <div class="dash-widget">
          <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
          <div class="dash-widget-info text-right">
            <h3>{{rdv.length}}</h3>
            <span class="widget-title3">Tâches <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="search-box">
        <div class="input-group input-group-md" style="margin-left: 15px; background-color: #fafafa;">
          <input type="text" class="form-control" placeholder="N° anonymat" name="search" [(ngModel)]="search">
          <span class="input-group-append">
            <button class="btn" type="button" (click)="searchPatient()" [disabled]="search == ''"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div><br>-->
    <div class="row">
      <div class="col-md-12">
        <div class="card-box shadow-sm p-3 mb-5 bg-white rounded">
          <h4 class="card-title">Informations du vaccin</h4>
          <div class="form">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">N° anonymat</label>
              <div class="col-md-9">
                <input type="text" class="form-control rounded" value="{{patient.identifiant}}" readonly>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Sélectionner les vaccins</label>
              <div class="col-md-9" style="margin-top: 15px;">
                <ng-multiselect-dropdown
                  [placeholder]="'selectionner les vaccins effectués'"
                  [data]="vaccins"
                  [(ngModel)]="vaccinEffectuer"
                  [settings]="dropdownSettings"
                >
                </ng-multiselect-dropdown>
              </div>
            </div><br/>
            <h5 style="margin-bottom: 15px; margin-right: 10px;margin-left: 20px;" *ngIf="vaccinEffectuer.length > 0">Vaccins effectués sur le patient</h5>
            <div class="row" *ngIf="vaccinEffectuer.length > 0">
              <div class="col-md-3" *ngFor="let obj of vaccinEffectuer">
                <input type="text" class="form-control rounded" value="{{obj.nomVaccin}}" readonly/>
              </div>
            </div><br *ngIf="vaccinEffectuer.length > 0"/>
            <!--<div class="form-group row">
              <div class="col-md-12">
                <textarea rows="3" cols="5" class="form-control rounded" placeholder="Observations" value="true" [(ngModel)]="commentaire"></textarea>
              </div>
            </div>-->
            <div class="text-left">
              <div class="col-md-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox" class="rounded"> Vérifier
                  </label>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary-one" (click)="saveVaccin()" [disabled]="((patient | json) == '{}') || vaccinEffectuer.length == 0">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-6">
        <div class="card-box shadow-sm p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title">Données du patient</h4>
            </div>
            <div class="col-md-4">
              &lt;!&ndash;<div class="chat-avatar card-title">
                <a href="profile.html" class="avatar">
                  <img alt="Cristina Groves" src="assets/img/doctor-thumb-03.jpg" class="img-fluid rounded-circle">
                </a>
              </div>&ndash;&gt;
              <div class="account-logo">
                <a href="#">
                  <img alt="Cristina Groves" src="assets/img/user.jpg" class="img-fluid rounded-circle" *ngIf="((patient.imageSelfie == null) || (patient.imageSelfie == ''))">
                  <img alt="Cristina Groves" [src]="imagePath" class="img-fluid rounded-circle" *ngIf="((patient.imageSelfie != null) && (patient.imageSelfie != ''))">
                </a>
              </div>
            </div>
          </div>
          <form action="#">
            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" class="form-control rounded" value="{{patient.name}}" placeholder="Nom complet" readonly>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <input type="text" class="form-control rounded" value="{{patient.sexe}}" placeholder="Sex" readonly>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control rounded" value="{{birthday}}" placeholder="Date de Naissance" readonly>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <input type="text" class="form-control rounded" value="{{patient.phone}}" placeholder="Télephone" readonly>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control rounded" value="{{patient.email}}" placeholder="Email" readonly>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control rounded" value="{{patient.numeroPassport}}" placeholder="Numéro du passeport" readonly>
              </div>
              <a class="chat-img-attach" >
                <img width="182" height="137" alt="image du passeport" src="assets/img/doctor-03.jpg">
                <div class="chat-placeholder">
                  <div class="chat-img-name">image du passeport</div>
                  &lt;!&ndash;<div class="chat-file-desc">842 KB</div>&ndash;&gt;
                </div>
              </a>
            </div>
          </form>
        </div>
      </div>-->
    </div>
  </div>
</div>
