<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title" translate>Sampler</h4>
        <!--<ul class="breadcrumb">
          <li><a routerLink="/dashboard">Tableau de bord</a></li>
          <li>Laboratoire</li>
        </ul>-->
      </div>
      <!--<div class="col-sm-8 col-9 text-right m-b-20">
        <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="card-title" translate>Register a Sampler</h4><br>
          <div class="form">
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-img-wrap">
                    <img class="inline-block" src="assets/img/user.jpg" alt="logo laboratoire" *ngIf="urlFile == null">
                    <img class="inline-block" src={{urlFile}} alt="logo laboratoire" *ngIf="urlFile != null">
                    <div class="fileupload btn">
                      <span class="btn-text" *ngIf="urlFile == null" translate>Profile picture</span>
                      <input class="upload inline-block" type="file" (change)="onFileChanged($event)">
                    </div>
                  </div>
                  <div class="profile-basic">
                    <form [formGroup]="form">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Full Name <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="text" class="form-control floating" value="" formControlName="name">
                          </div>
                          <div *ngIf="f.name.invalid && f.name.touched" class="text-danger">
                            <small *ngIf="f.name.errors.required">Le nom est requis.</small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Date of Birth <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="text" class="form-control floating" value="" formControlName="birthday" onfocus="(this.type='date')">
                          </div>
                          <div *ngIf="f.birthday.invalid && f.birthday.touched" class="text-danger">
                            <small *ngIf="f.birthday.errors.required">La date de naissance est requise.</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Sex <span style="font-weight: bold; color: red;">*</span></label>
                            <select class="form-control floating" formControlName="sexe">
                              <option value="Masculin" translate>Masculin</option>
                              <option value="Feminin" translate>Feminine</option>
                            </select>
                          </div>
                          <div *ngIf="f.sexe.invalid && f.sexe.touched" class="text-danger">
                            <small *ngIf="f.sexe.errors.required">Le sexe est requis.</small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Phone <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="text" class="form-control floating" value="" formControlName="phone">
                          </div>
                          <div *ngIf="f.phone.invalid && f.phone.touched" class="text-danger">
                            <small *ngIf="f.phone.errors.required">Le numéro de téléphone est requis.</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>E-mail adress <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="text" class="form-control floating" value="" formControlName="email">
                          </div>
                          <div *ngIf="f.email.invalid && f.email.touched" class="text-danger">
                            <small *ngIf="f.email.errors?.pattern">Le format d'email est incorrect.</small>
                            <small *ngIf="f.email.errors.required">L'adresse email est requis.</small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-focus select-focus">
                            <label class="focus-label" translate>Approved center <span style="font-weight: bold; color: red;">*</span></label>
                            <select class="form-control floating" formControlName="laboratoire">
                              <option [ngValue]=labo.id *ngFor="let labo of laboratoires">{{labo.name}}</option>
                            </select>
                          </div>
                          <div *ngIf="f.laboratoire.invalid && f.laboratoire.touched" class="text-danger">
                            <small *ngIf="f.laboratoire.errors.required">Le centre agrée est requis.</small>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Username <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="text" class="form-control floating" value="" formControlName="username">
                          </div>
                          <div *ngIf="f.username.invalid && f.username.touched" class="text-danger">
                            <small *ngIf="f.username.errors.required">Le nom d'utilisateur est requis.</small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                            <label class="focus-label" translate>Password <span style="font-weight: bold; color: red;">*</span></label>
                            <input type="password" class="form-control floating" value="" style="position: relative;" formControlName="password">
                            <!--<span class="p-viewer">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>-->
                          </div>
                          <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
                            <small *ngIf="f.password.errors.required">Le mot de passe est requis.</small>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            <div class="text-right" style="margin-top: 25px;">
              <button type="submit" class="btn btn-secondary-one" (click)="resetForm()" translate>Cancel</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary-one" (click)="save()" translate>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal fade " role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="height:auto;">
          <div class="card">
            <div class="card-header">
              <button type="button" class="close" data-dismiss="modal" (click)="resetForm()">&times;</button>
              <h4 class="card-title" translate>Modify the sampler</h4>
            </div>
            <div class="card-body">
              <div class="form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="profile-img-wrap">
                      <img class="inline-block" src="assets/img/user.jpg" alt="logo laboratoire" *ngIf="(((urlFile == null) && (objUpdateImage == null)) || ((urlFile == null) && (objUpdateImage == '')))">
                      <img class="inline-block" src={{urlFile}} alt="logo laboratoire" *ngIf="urlFile != null">
                      <img class="inline-block" [src]="imagePath" alt="logo laboratoire" *ngIf="imagePath != null">
                      <div class="fileupload btn">
                        <span class="btn-text" *ngIf="urlFile == null" translate>Profile picture</span>
                        <input class="upload inline-block" type="file" (change)="onFileChanged($event)">
                      </div>
                    </div>
                    <div class="profile-basic">
                      <form [formGroup]="form">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Full Name <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="text" class="form-control floating" value="" formControlName="name">
                            </div>
                            <div *ngIf="f.name.invalid && f.name.touched" class="text-danger">
                              <small *ngIf="f.name.errors.required">Le nom est requis.</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Date of Birth <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="text" class="form-control floating" value="" formControlName="birthday" onfocus="(this.type='date')">
                            </div>
                            <div *ngIf="f.birthday.invalid && f.birthday.touched" class="text-danger">
                              <small *ngIf="f.birthday.errors.required">La date de naissance est requise.</small>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Sex <span style="font-weight: bold; color: red;">*</span></label>
                              <select class="form-control floating" formControlName="sexe">
                                <option value="Masculin" translate>Masculin</option>
                                <option value="Feminin" translate>Feminine</option>
                              </select>
                            </div>
                            <div *ngIf="f.sexe.invalid && f.sexe.touched" class="text-danger">
                              <small *ngIf="f.sexe.errors.required">Le sexe est requis.</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Phone <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="text" class="form-control floating" value="" formControlName="phone">
                            </div>
                            <div *ngIf="f.phone.invalid && f.phone.touched" class="text-danger">
                              <small *ngIf="f.phone.errors.required">Le numéro de téléphone est requis.</small>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>E-mail adress <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="text" class="form-control floating" value="" formControlName="email">
                            </div>
                            <div *ngIf="f.email.invalid && f.email.touched" class="text-danger">
                              <small *ngIf="f.email.errors?.pattern">Le format d'email est incorrect.</small>
                              <small *ngIf="f.email.errors.required">L'adresse email est requis.</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                              <label class="focus-label" translate>Approved center <span style="font-weight: bold; color: red;">*</span></label>
                              <select class="form-control floating" formControlName="laboratoire">
                                <option [ngValue]=labo.id *ngFor="let labo of laboratoires">{{labo.name}}</option>
                              </select>
                            </div>
                            <div *ngIf="f.laboratoire.invalid && f.laboratoire.touched" class="text-danger">
                              <small *ngIf="f.laboratoire.errors.required">Le centre agrée est requis.</small>
                            </div>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Username <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="text" class="form-control floating" value="" formControlName="username">
                            </div>
                            <div *ngIf="f.username.invalid && f.username.touched" class="text-danger">
                              <small *ngIf="f.username.errors.required">Le nom d'utilisateur est requis.</small>
                            </div>
                          </div>
                          <!--<div class="col-md-6">
                            <div class="form-group form-focus">
                              <label class="focus-label" translate>Password <span style="font-weight: bold; color: red;">*</span></label>
                              <input type="password" class="form-control floating" value="" style="position: relative;" formControlName="password">
                              &lt;!&ndash;<span class="p-viewer">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                              </span>&ndash;&gt;
                            </div>
                            <div *ngIf="f.password.invalid && f.password.touched" class="text-danger">
                              <small *ngIf="f.password.errors.required">Le mot de passe est requis.</small>
                            </div>
                          </div>-->
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="text-right" style="margin-top: 25px;">
                  <button type="submit" class="btn btn-secondary-one" (click)="resetForm()" translate>Cancel</button>&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary-one" (click)="update()" translate>Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <div class="card-block">
            <h4 class="card-title" translate>List of collectors</h4>
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead class="bg-thead">
                <tr>
                  <th translate>Name</th>
                  <th translate>Sex</th>
                  <th translate>Approved center</th>
                  <th translate>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let preleveur of preleveurs">
                  <td>{{preleveur.name}}</td>
                  <td>{{preleveur.sexe | translate}}</td>
                  <td>
                    <span *ngIf="(preleveur.laboratoire != null)" >{{preleveur.laboratoire.name}}</span>
                    <span *ngIf="(preleveur.laboratoire == null)"></span>
                  </td>
                  <td>
                    <a href="#" title="Supprimer le contrôleur" style="margin-right: 20px;" (click)="openConfirmationDialog($event, preleveur)"><i class="fa fa-remove"></i></a>
                    <a href="#" title="Modifier le contrôleur" (click)="edit($event, preleveur)" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
