<div class="main-wrapper  account-wrapper">
  <div class="account-page">
    <div class="account-center">
      <div class="account-box">

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-signin">
          <ngx-spinner [fullScreen]="false" type="pacman" color="#96ab5c" size="medium">
            <p class="loading" style="font-size: 20px; color: #96ab5c; margin-top: 30px;" translate>Please wait</p>
          </ngx-spinner>
          <div class="account-logo">
            <a href="#"><img src="assets/img/logo_meduim.jpeg" alt="Awaycovid"></a>
          </div>
          <h4 style="margin-top: 50px;margin-bottom: 15px; text-align: center">Register</h4><hr>
          <div *ngIf="step1 == 1">
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Nom et prénom</label>
                <input type="text" class="form-control floating" formControlName="name" value="" style="margin-top: 10px;">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Date de naissance</label>
                <input type="text" class="form-control floating" value="" style="margin-top: 10px;" formControlName="birthday" onfocus="(this.type='date')">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus select-focus">
                <label class="focus-label">Sexe</label>
                <select class="form-control floating" formControlName="sexe">
                  <option value="MASCULIN">Masculin</option>
                  <option value="FEMININ">Féminin</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus select-focus">
                <label class="focus-label">Pays</label>
                <select class="form-control floating" formControlName="pays" (change)="getDialCode($event)" >
                  <option *ngFor="let country of pays" [ngValue]="country.alpha3Code">{{country.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus select-focus">
                <label class="focus-label">Ville</label>
                <select class="form-control floating" formControlName="ville">
                  <option value="Douala">Douala</option>
                  <option value="Yaounde">Yaoundé</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 row" style="width: 100%;">
              <div class="form-group form-focus col-md-3">
                <label class="focus-label"></label>
                <input type="text" class="form-control " value="{{dialCode}}" readonly style="margin-top: 10px; border-top: none;border-left: none;border-right:none; background-color: white">
              </div>
              <div class="form-group form-focus col-md-9">
                <label class="focus-label" style="margin-left: 10px;">Téléphone</label>
                <input type="text" class="form-control floating" value="" formControlName="phone" style="margin-top: 10px;">
              </div>
            </div>
            <div class="text-right" style="margin-top: 25px;">
              <button type="submit" class="btn btn-primary-one" (click)="enableStep2()">Next</button>
            </div>
          </div>

          <div *ngIf="step2 == 1">
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Nom d'utilisateur</label>
                <input type="text" class="form-control floating" value="" formControlName="username" style="margin-top: 10px;">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Email</label>
                <input type="email" class="form-control floating" formControlName="email" value="" style="margin-top: 10px;" autocomplete="false">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Mot de passe</label>
                <!--<input type="text" class="form-control floating" value="" style="margin-top: 10px;">-->
                <div class="input-group mb-3">
                  <input type="password" class="form-control floating" #pwd formControlName="password" style="margin-top: 10px;" autocomplete="false">
                  <div class="input-group-append" style="margin-top: 10px; height: 50px;">
                    <span class="input-group-text fa fa-eye"  (click)="passwordVisibility(pwd)" *ngIf="pwd.type == 'password'"></span>
                    <span class="input-group-text fa fa-eye-slash" (click)="passwordVisibility(pwd)" *ngIf="pwd.type == 'text'"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Photo de profil</label>
                <input type="file" class="form-control floating" value="" formControlName="imageSelfie" (change)="uploadImageProfil($event)" style="margin-top: 10px;">
              </div>
            </div>
            <div class="account-logo">
              <a href="#">
                <img alt="Photo de profil" [src]="urlProfilImage" class="img-fluid rounded-circle" *ngIf="urlProfilImage != null">
              </a>
            </div>
            <div class="text-right" style="margin-top: 25px;">
              <button type="submit" class="btn btn-secondary-one" (click)="enableStep1()">Previous</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary-one" (click)="enableStep3()">Next</button>
            </div>
          </div>

          <div *ngIf="step3 == 1">
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Numéro de passeport</label>
                <input type="text" class="form-control floating" value="" formControlName="numeroPassport" style="margin-top: 10px;">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Date expiration</label>
                <input type="text" class="form-control floating" value="" formControlName="dateExpiration" onfocus="(this.type='date')" style="margin-top: 10px;">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus select-focus">
                <label class="focus-label">Type de passeport</label>
                <select class="form-control floating" formControlName="typePassport">
                  <option [ngValue]="type.id" *ngFor="let type of passportType">{{type.label}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group form-focus">
                <label class="focus-label">Photo du passeport</label>
                <input type="file" class="form-control floating" value="" (change)="onFileChanged($event)" formControlName="imagePassport" style="margin-top: 10px;">
              </div>
            </div>
            <div class="col-md-12 row">
              <a class="chat-img-attach"   *ngIf="urlPassportImage != null">
                <img width="182" height="137" alt="image du passeport" [src]="urlPassportImage">
                <!--<div class="chat-placeholder">
                  <div class="chat-img-name">image du passeport</div>
                </div>-->
              </a>
            </div>
            <div class="text-right" style="margin-top: 25px;">
              <button type="submit" class="btn btn-secondary-one" (click)="enableStep2()">Previous</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-primary-one">Signup</button>
            </div>
          </div>

         <!-- <div style="text-align:center;margin-top:40px;">
            <span class="step" [style.background-color]="step1 == 1? '#96ab5c' : '#bbbbbb'"></span>
            <span class="step" [style.background-color]="step2 == 1? '#96ab5c' : '#bbbbbb'"></span>
            <span class="step" [style.background-color]="step3 == 1? '#96ab5c' : '#bbbbbb'"></span>
          </div>-->

          <div class="text-center login-link" style="margin-top: 15px;">
            Vous avez déjà un compte? <a routerLink="/login">Se connecter</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<form [formGroup]="registerForm" (ngSubmit)="register()" class="sign-up-form">
  <h2 class="title">Sign up</h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Nom et prénom" formControlName="name"/>
  </div>
  <div class="input-field">
    <i class="fas fa-calendar"></i>
    <input type="text" class="date" placeholder="Date de naissance" formControlName="birthday" onfocus="(this.type='date')"/>
  </div>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Nom d'utilisateur" formControlName="username"/>
  </div>
  <div class="input-field">
    <i class="fas fa-envelope"></i>
    <input type="email" placeholder="Email" formControlName="email"/>
  </div>
  <div class="input-field">
    &lt;!&ndash;<i class="fas fa-lock"></i>&ndash;&gt;
    <i class="fas fa-eye" (click)="passwordVisibility(pwdR)" *ngIf="pwdR.type == 'password'"></i>
    <i class="fas fa-eye-slash" (click)="passwordVisibility(pwdR)" *ngIf="pwdR.type == 'text'"></i>
    <input type="password" #pwdR placeholder="Password" formControlName="password"/>
  </div>
  <div class="input-field">
    <i class="fas fa-phone"></i>
    <input type="text" placeholder="Téléphone" formControlName="phone"/>
  </div>
  <div class="input-field">
    <i class="fas fa-location-arrow"></i>
    <input type="text" placeholder="Sexe" formControlName="sexe"/>
  </div>
  &lt;!&ndash;<div class="input-field col-md-12">
  &lt;!&ndash;<i class="fas fa-map-marker"></i>&ndash;&gt;
  <select name="" formControlName="pays">
    <option disabled>Pays</option>
    <option value="">option 1</option>
    <option value="">option 2</option>
  </select>
</div>&ndash;&gt;
  <div class="input-field">
    <i class="fas fa-map-marker"></i>
    <input type="text" placeholder="Ville" formControlName="ville"/>
  </div>
  <div class="input-field">
    <i class="fas fa-credit-card"></i>
    <input type="text" placeholder="Numéro de passport" formControlName="numeroPassport"/>
  </div>
  <div class="input-field">
    <i class="fas fa-calendar"></i>
    <input type="text" placeholder="Date expiration" formControlName="dateExpiration" onfocus="(this.type='date')"/>
  </div>
  <div class="col-md-12">
    &lt;!&ndash;<i class="fas fa-map-marker"></i>&ndash;&gt;
    <select name="" id="" formControlName="typePassport">
      <option value="" selected="selected" disabled>Type de passport</option>
      <option [ngValue]="type.id" *ngFor="let type of passportType">{{type.label}}</option>
    </select>
  </div>
  <div class="">
    &lt;!&ndash; <i class="fas fa-camera"></i>&ndash;&gt;
    <input type="file" placeholder="Photo du passport" (change)="onFileChanged($event)" formControlName="imagePassport"/>
  </div>
  <a class="chat-img-attach" >
    &lt;!&ndash; <img width="182" height="137" alt="image du passport" src="assets/img/doctor-03.jpg" *ngIf="urlPassportImage == null">&ndash;&gt;
    <img width="182" height="137" alt="image du passport" [src]="urlPassportImage"  *ngIf="urlPassportImage != null">
    &lt;!&ndash;<div class="chat-placeholder">
    <div class="chat-img-name">image du passeport</div>
    &lt;!&ndash;<div class="chat-file-desc">842 KB</div>&ndash;&gt;
  </div>&ndash;&gt;
  </a>
  <div class="">
    &lt;!&ndash;<i class="fas fa-camera"></i>&ndash;&gt;
    <input type="file" placeholder="Photo de profil"  formControlName="imageSelfie" (change)="uploadImageProfil($event)"/>
  </div>
  <div class="account-logo">
    <a href="#">
      &lt;!&ndash; <img alt="Photo de profil" src="assets/img/user.jpg" class="img-fluid rounded-circle" *ngIf="urlProfilImage == null">&ndash;&gt;
      <img alt="Photo de profil" [src]="urlProfilImage" class="img-fluid rounded-circle" *ngIf="urlProfilImage != null">
    </a>
  </div>
  <input type="submit" class="btn" value="Sign up" />
  &lt;!&ndash;<p class="social-text">Or Sign up with social platforms</p>
  <div class="social-media">
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-google"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>&ndash;&gt;
</form>&ndash;&gt;-->
